@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

///////////////// Navbar Button \\\\\\\\\\\\\\\\\\\\\\\

.navBtn {
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  font-weight: bold;
  width: 9rem;
  margin-top: -0.3rem;
  margin-left: 0.2rem;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
}

.navBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.navBtn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.navBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.navBtn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

//////////////// Home Header Button \\\\\\\\\\\\\\\\\\\\
