@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.navBtn {
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  font-weight: bold;
  width: 9rem;
  margin-top: -0.3rem;
  margin-left: 0.2rem;
  padding: 1rem;
  border: none;
  border-radius: 1.5rem;
  text-transform: uppercase;
}

.navBtn:focus {
  outline: none;
  box-shadow: none;
}
