@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.paragraphWrapper {
  display: block;
  margin: 0 auto;
  padding-top: 5rem;
  height: 100vh;
}

.paragraph {
  padding: 0;
  font-size: 1rem;
  line-height: 2.2rem;
  color: $paragraphColor;
  text-align: justify;
  max-width: 80%;
  @extend .col-md-6;
  @extend .col-12;
}

.imgCol {
  @extend .col-md-6;
  @extend .col-12;
}

.img {
  margin-left: 5rem;
  max-width: auto;
}

.paragraphReverse {
  margin-left: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 2.2rem;
  color: $paragraphColor;
  text-align: justify;
  @extend .row;
  @extend .flex-row-reverse;
}

.paragraphTextReverse {
  @extend .col-md-6;
  @extend .col-12;
}

@media screen and (min-width: 425px) {
  .paragraphWrapper {
    margin: 0 0 2rem 6rem;
    width: 100vw;
    height: auto;
  }
  .imgCol {
    height: auto;
    width: 100%;
    margin: 0 0 3rem -12.5rem;
  }

  .paragraphReverse {
    margin-left: -11.5rem;
    width: 100vw;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .paragraphWrapper {
    margin: 0 -8rem 0 5rem;
  }
  .imgCol {
    margin-left: -6rem;
  }
  .paragraphReverse {
    margin-left: 0;
    width: auto;
  }

  .paragraphTextReverse {
    margin: 4rem 0 0 -7rem;
  }
}

@media only screen and (min-width: 1600px) {
}
