@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.background {
  margin: 2rem auto;
  height: 40vh;
}

.paragraph {
  width: 23rem;
  height: 7rem;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3.1rem;
  color: $paragraphColor;
  font-weight: 400;
}

.appLogos,
.appScreens {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.screensBackground {
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  height: 99vh;
}
.appScreens {
  padding: 5rem;
}

.appScreen {
  margin-left: 1rem;
}

.graphic {
  position: relative;
  top: -27rem;
  left: 12rem;
}

@media screen and (min-width: 500px) {
  .background {
    margin-bottom: 20rem;
  }
}
