@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.wrapper {
  margin: 0 auto;
  width: 1300px;
}

@media screen and (min-width: 415px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    margin: 0 auto;
    width: 1000px;
  }
}
