@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.gradientHeading,
.ratesHeading,
.ratesHeadingTitle,
.tradeHeading,
.blogHeading,
.notActiveHeading,
.reverseParagraphHeading {
  position: relative;
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.notActiveHeading {
  background: linear-gradient(178.18deg, $notActive -13.56%, $notActive 158.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ratesHeading,
.ratesHeadingTitle {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0.7rem;
  text-align: center;
}

.tradeHeading {
  margin-top: -4.6rem;
  font-size: 1.75rem;
  line-height: 2.6rem;
  text-align: center;
}

.blogHeading,
.notActiveHeading {
  font-size: 1.5rem;
  line-height: 2.4rem;
  width: 19rem;
  height: 4.8rem;
  margin-left: 3.6rem;
}

.testimonialHeading {
  font-size: 1.75rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: $white;
  display: block;
  margin: 3rem auto 1.5rem;
  text-align: center;
  width: 20.4rem;
}

@media screen and (min-width: 500px) {
  .reverseParagraphHeading {
    width: 20rem;
  }
}
