@import '../themes/colors.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.navbarWrapper {
  padding: 1.5rem;
  width: 100%;
}

.logo {
  margin-top: -0.4rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.navLinks {
  font-weight: bold;
  color: $black;
  margin-top: 1rem;
}

.navLinkItem {
  font-size: 1rem;
  @extend .text-dark;
}

.navLinkItem:hover {
  border-bottom-style: solid;
  border-width: 0.2rem;
  border-color: $gradient1;
  border-radius: 0.1rem;
  transition: 0.3s;
}

.dropdownItem {
  padding: 0.7rem;
}

.dropdownItem:hover {
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  transition: all 0.5s ease;
  @extend .text-white;
}
