$pageBackground: #ffffff;
$gradient1: #fd749b;
$gradient2: #281ac8;
$black: #000;
$white: #fff;
$paragraphColor: #333333;
$borderRates: rgba(0, 0, 0, 0.125);
$boxShadow: rgba(0, 0, 0, 0.1);
$ratesBoxShadow: rgba(0, 0, 0, 0.25);
