@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.ratesHeaderRow {
  margin: 0;
  padding: 0.4rem;
  border-bottom: 0.1rem solid $borderRates;
  background-color: transparent;
}

.tableColumn,
.ratesTableColumn {
  padding: 3rem 0.1rem 3rem 0.1rem;
  overflow-wrap: break-word;
}

.ratesTableColumn {
  margin-left: 5rem;
}
td {
  padding-bottom: 1rem;
}

.tableIcons,
.exchangeIcons {
  font-size: 1.5rem;
  padding-right: 1rem;
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exchangeIcons {
  padding-right: 0;
}

.tableIcons:before {
  display: initial;
}

.tableText,
.tableTextRight,
.tableTextExhange {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: $paragraphColor;
  padding-right: 1rem;
  overflow-wrap: break-word;
}

.tableTextRight {
  text-align: right;
}

.tableTextExhange {
  padding-right: 0.1;
}

.columnDivider {
  border-top-style: solid;
  border-width: 0.13rem;
  border-color: $borderRates;
  margin-bottom: 0.5rem;
  width: 20rem;
  margin-right: -15rem;
}

@media screen and (min-width: 425px) {
  .ratesCard {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .ratesCard {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .ratesCard {
    border-radius: 2rem;
    width: 80rem;
    margin-left: -5rem;
  }
}
