@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.headerWrapper {
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  color: $white;
  max-width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
}

.heading {
  font-weight: 300;
  line-height: 3.5rem;
  font-size: 2.5rem;
}

.headingBold {
  font-weight: 600;
}

.description {
  font-size: 1.1rem;
  font-weight: 400;
}

.img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 425px) {
  .headerWrapper {
    width: 100%;
    height: auto;
  }
  .img {
    margin-top: -3rem;
    height: 100%;
    width: 500px;
  }
  .paragraphWrapper {
    margin: 4rem auto;
    padding: 1rem;
  }
}

@media only screen and (min-width: 500px) {
  .heading {
    margin-left: 2rem;
  }
  .description {
    margin-left: 2rem;
    width: 24rem;
  }
}

@media only screen and (min-width: 1024px) {
  .headerWrapper {
    width: 100vw;
  }
  .img {
    margin: 2rem auto;
    height: auto;
    width: 100%;
  }
  .heading {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }
  .paragraphWrapper {
    margin: 2rem 0 2rem 4rem;
    padding: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .headerWrapper {
    width: 100vw;
  }

  .heading {
    margin-top: -2rem;
    font-size: 4rem;
    line-height: 6rem;
  }

  .description {
    font-size: 2.5rem;
  }
  .img {
    margin: 3rem auto;
    height: auto;
    width: 100%;
    margin-top: 6rem;
  }
  .paragraphWrapper {
    margin: 5rem 0 2rem 8rem;
    padding: 5rem;
  }
}
