@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.headerWrapper {
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  color: $white;
  max-width: 100%;
  height: 100vh;
  padding: 2rem;
  position: relative;
}

.heading {
  font-weight: 300;
  line-height: 3.5rem;
  font-size: 2.5rem;
}

.headingBold {
  font-weight: 600;
}

.paragraphWrapper {
  padding: 6rem;
}

.img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 425px) {
  .headerWrapper {
    width: 100%;
  }
  .img {
    height: auto;
    max-width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    margin: 0 auto;
    width: 100vw;
  }
}
