@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.line {
  border-top-style: solid;
  border-width: 0.1rem;
  border-image: $gradient1;
  max-width: 5rem;
  border-radius: 1rem;
}
