@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.waves {
  position: relative;
  width: 100%;
  height: 200px;
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
