@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.wave {
  position: relative;
  height: 70px;
  width: 580px;
  background: transparent;
}

.wave:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}

.wave:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: $white;
  left: 0;
  top: 27px;
}
