@import '../../../themes/colors.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.circles {
  margin: -8rem auto;
  width: 75rem;
  height: 32rem;
  background: radial-gradient(
      5.2rem circle at 6.2rem 21.9rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      4.3rem circle at 25rem 10.6rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      4rem circle at 37.5rem 11.9rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      5.2rem circle at 65.6rem 3.75rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      3.6rem circle at 30rem 15.6rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      8.6rem circle at 15.6rem 12.5rem,
      $circle 50%,
      transparent 50.4%
    ),
    radial-gradient(
      2.82rem circle at 21.2rem 21.2rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      5.2rem circle at 36.25rem 19.3rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      5.2rem circle at 60rem 19.3rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      5.2rem circle at 51.2rem 26.9rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      5.2rem circle at 46.24rem 15.6rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      5.2rem circle at 53.75rem 9.3rem,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(
      2.82rem circle at 43.1rem 22.5rem,
      $circle 50%,
      transparent 51%
    );
  background-color: transparent;
}

.circles:hover::after {
  content: attr(data-tooltip);
}

@media screen and (max-width: 500px) {
  .circles {
    margin: -6rem auto;
    width: auto;
    height: 32rem;
  }
}

@media screen and (min-width: 1024px) {
  .circles {
    margin: -9rem auto;
    width: 75rem;
    height: 32rem;
  }
}

@media (min-width: 1500px) {
  .circles {
    margin: -6.9rem auto;
  }
}
