@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.background {
  height: 1300px;
  background: linear-gradient(178.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  margin-top: 2rem;
}

.graphic1 {
  position: relative;
  top: -25rem;
  left: 10rem;
}

.graphic2 {
  position: relative;
  top: 33.5rem;
  left: 65rem;
}

.description {
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 400;
  width: 33rem;
  margin-top: 2.8rem;
  color: $white;
  text-align: center;
  display: block;
  margin: 2.8rem auto;
}

.reviewsCard {
  position: relative;
  top: 15rem;
  left: 46rem;
  width: 25rem;
  height: 7.6rem;
  border-radius: 1rem;
  background-color: $reviewCard;
}

.textWrapper {
  margin-top: -2.4rem;
}

.cardTriangle {
  position: relative;
  top: 3rem;
  left: -1rem;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid $reviewCard;
}

.stars,
.icons {
  font-size: 0.8rem;
  background: linear-gradient(181.18deg, $gradient1 -13.56%, $gradient2 158.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -2rem;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: -2rem;
  left: 21rem;
}

.reviewName,
.reviewTitle {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: left;
  color: $black;
}

.reviewComment,
.reviewTitle {
  margin-top: -2rem;
  width: 26rem;
  height: 2.2rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.reviewComment {
  color: $black;
  font-weight: 400;
}

.circles {
  margin: -8rem auto;
  width: 1200px;
  height: 500px;
  background: radial-gradient(
      84.39px circle at 100px 350px,
      $circle 50%,
      transparent 51%
    ),
    radial-gradient(68.52px circle at 400px 170px, $circle 50%, transparent 51%),
    radial-gradient(65.17px circle at 600px 190px, $circle 50%, transparent 51%),
    radial-gradient(84.39px circle at 1050px 60px, $circle 50%, transparent 51%),
    radial-gradient(58.49px circle at 480px 250px, $circle 50%, transparent 51%),
    radial-gradient(
      137.87px circle at 250px 200px,
      $circle 50%,
      transparent 50.4%
    ),
    radial-gradient(45.12px circle at 340px 340px, $circle 50%, transparent 51%),
    radial-gradient(84.39px circle at 580px 310px, $circle 50%, transparent 51%),
    radial-gradient(84.39px circle at 960px 310px, $circle 50%, transparent 51%),
    radial-gradient(84.39px circle at 820px 430px, $circle 50%, transparent 51%),
    radial-gradient(84.39px circle at 740px 250px, $circle 50%, transparent 51%),
    radial-gradient(84.39px circle at 860px 150px, $circle 50%, transparent 51%),
    radial-gradient(45.12px circle at 690px 360px, $circle 50%, transparent 51%);
  background-color: transparent;
}

.circles:hover::after {
  content: attr(data-tooltip);
}
